*.pyc
matlab-json/json_input
matlab-json/matlab_input
matlab-json/json_output
matlab-json/matlab_output
matlab-json/pngout
log/
log/gunicorn_supervisor.log
pngoutput/
*.dyn
matlab-json/*.log
matlab-json/*.log
shellscripts/sge_output*
*.log
*.err
shellscripts/errors/*.err
shellscripts/logs/*.log
shellscripts/core*
*.svn*
